<div *ngIf="!selectedCategory">
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let item of (categoryList$ | async)" (click)="onSelectCategory(item)" class="item">
      <div class="item-content">
        <ng-container *ngTemplateOutlet="itemMenu; context: {isCategory: true, item}"/>
        <span class="text">
        {{item.name}}
      </span>
        <button mat-icon-button>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
  <button mat-raised-button color="primary" (click)="edit()" class="create-button">
    <mat-icon>add</mat-icon>
    Create category
  </button>
</div>


<div *ngIf="selectedCategory">
  <button mat-button (click)="selectedCategory = undefined">
    <mat-icon>arrow_back</mat-icon>
    {{selectedCategory?.name}}
  </button>
  <mat-list role="list">
    <mat-list-item role="listitem"  *ngFor="let item of (selectedCategory?.subcategories ?? [])" class="item">
      <div class="item-content">
        <span>
          {{item.name}}
        </span>
        <app-category-actions class="action" (edit)="editSubcategory(item)" (archive)="archiveSubcategory(item)"/>
      </div>
    </mat-list-item>
  </mat-list>
  <button mat-raised-button color="primary" (click)="editSubcategory()" class="create-button">
    <mat-icon>add</mat-icon>
    Create subcategory
  </button>
</div>


<ng-template #itemMenu let-isCategory="isCategory" let-item="item">
  <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
    <mat-icon>more_vert</mat-icon>
  </button>
<!--  (edit)="edit(item)" (archive)="archive(item)"-->
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="isCategory ? edit(item) : editSubcategory(item)">
      <mat-icon>edit</mat-icon>
      Rename
    </button>
    <button mat-menu-item (click)="isCategory ? archive(item) : archiveSubcategory(item)">
      <mat-icon>archive</mat-icon>
      Archive
    </button>
  </mat-menu>
</ng-template>
