<mat-toolbar color="primary" class="toolbar">
  <span>My App</span>
  <button mat-icon-button (click)="openSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav [mode]="sidenavMode" [opened]="sidenavOpened" class="sidenav">
    <img [ngSrc]="logo" [width]="135" [height]="18" class="logo" />
    <mat-nav-list>
      <mat-list-item *ngFor="let link of navigationMenuList" [activated]="(currentRoute$ | async)?.startsWith(link.url) ?? false">
        <a matListItemTitle [routerLink]="link.url" class="nav-menu-item">
          <mat-icon>{{link.icon}}</mat-icon>
          {{ link.title }}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

