@import "../base-categories/base-categories.component";

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(167, 176, 216, 0.04);
  width: 100%;
  &>* {
    flex: 1;
    padding: 24px;
    .header {
      display: flex;
      justify-content: flex-start;
      gap: 5px;
      padding-bottom: 24px;
      button {
        margin-top: -7px;
      }
    }
    @include list-item;
  }
}
