<div class="wrapper">
  <div class="header">
    <h1>Templates</h1>
    <mat-icon>
      notifications_none
    </mat-icon>
  </div>
  <div class="content">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a mat-tab-link *ngFor="let link of tabs"
         [routerLink]="link.url"
         [active]="!!(currentRoute$ | async)?.endsWith(link.url)"> {{link.title}} </a>
    </nav>
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="search">
        <mat-label>Input</mat-label>
        <input matInput formControlName="search">
      </mat-form-field>
    </form>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet />
    </mat-tab-nav-panel>

  </div>
</div>
